@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .headerBtn {
        @apply border w-7 h-7 rounded-full p-1 justify-center
    }
    .container {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .activeTab {
        pointer-events: none;
        @apply text-white bg-brand-header-1
    }
    .activeTab div svg {
        pointer-events: none;
        @apply fill-white
    }
}