@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .activeTab {
        pointer-events: none;
        @apply text-white bg-brand-header-1
    }
    .activeTab div svg {
        pointer-events: none;
        @apply fill-white
    }
    .nonActiveFilter {
        @apply stroke-1 stroke-brand-header-2
    }
    .activeFilter {
        @apply stroke-2 stroke-brand-header-1
    }
    select {
        appearance: none;
        -webkit-appearance: none;
    }
}